div{
    background-color: black;
    color:white;
display: flex;
justify-content: space-between;
padding:0 15px;
}
.img{
    display: flex;
    justify-content: space-between;
    border-radius: ;
}
div img{
    border-radius: 50%;
    padding:15px;
}